<header class="header-panel">
  <div>
    <img src="/images/panel/logo.svg" alt="">
    
    <div>
      <a class="link" href="/panel">Inicio</a>
      <a class="link" href="/panel/logout">Cerrar sesión</a>
    </div>
  </div>
</header>