<header class="header-admin">
  <div>
    <img src="/images/panel/logo.svg" alt="">
    
    <div>
      <a class="link" href="/admin">Iniciar sesión</a>
      <a class="link" href="/admin/registro">Dar de alta</a>
    </div>
  </div>
</header>