<div>
  <a href="/panel/datos">Datos de tu cuenta</a>
  <a href="/panel/sucursal-a">Agregar Sucursal</a>
  <a href="/panel/sucursal-q">Quitar sucursal</a>
  <a href="/panel/sucursal-ac">Actualizar sucursal</a>
  <a href="/panel/sucursales">Ver sucursales</a>
  <a href="/panel/autos-a">Agregar Auto</a>
  <a href="/panel/autos-q">Quitar Auto</a>
  <a href="/panel/autos-ac">Actualizar Auto</a>
  <a href="/panel/autos">Ver autos</a>
</div>