*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1: #0832DE;
  --color-2: #3b3e37;
  --color-3: #f6f6f6;
  --color-4: #DA4040;
  --color-5: #1AFB01;
  --color-6: #302DB2;
  --color-7: #E1DDDD;
}
/* font-family: 'Roboto', sans-serif; */
body {
  font-family: 'Roboto';
}

/* Estilos Admin */

/* 
  clases: 
  header-admin
  main-admin
  form-login
  error-admin
  form-register
  error-register

*/
.header-panel,
.header-admin {
  width: 100%;
  height: 130px;
  padding: 15px 25px;
  background-color: var(--color-2);
  color: var(--color-3);
}
.header-panel img,
.header-admin img {
  width: 100px;
}
.header-panel > div,
.header-admin > div {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-panel > div div,
.header-admin > div div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-panel .menu a,
.header-panel .link,
.header-admin .link {
  color: var(--color-3);
  text-decoration: none;
  display: block;
  border: 1px solid var(--color-3);
  padding: 2.5px 10px;
  border-radius: 5px;
}
.main-panel .menu a:hover,
.header-panel .link:hover,
.header-admin .link:hover {
  color: var(--color-2);
  background-color: var(--color-3);
}

.main-admin {
  position: relative;
  width: 100%;
  padding: 15px 25px;
  background: var(--color-3);
  height: calc(100vh - 237px);
}
.main-admin > div {
  max-width: 1400px;
}
.form-register,
.form-login {
  width: max-content;
  margin: 0 auto;
  background-color: var(--color-2);
  padding: 30px 20px;
  border-radius: 5px;
}

.form-register .foto,
.form-register input,
.form-login input {
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.form-register .foto,
.form-register input[type="submit"],
.form-login input[type='submit'] {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--color-3);
  background-color: var(--color-7);
}
.form-register .foto {
  margin: 0;
}




.form-register input[type="file" i] {
  display: none;
}

.error-register {
  position: absolute;
  left: 0;
  top: 150px;
  font-size: 16px;
}



/* Estilos Panel */

/* 
  clases: 
  header-panel
  main-panel
*/

.main-panel {
  width: 100%;
  background: rgb(59,62,55);
  background: linear-gradient(90deg, rgba(59,62,55,1) 35%, rgba(246,246,246,1) 35%)
}
.main-panel > div {
  max-width: 1400px;
  margin: 0 auto;
  height: calc(100vh - 237px);
  overflow: hidden;
  background-color: var(--color-3);
}
.main-panel > div {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
}
.main-panel .menu {
  background-color: var(--color-2);
  padding: 15px 15px 0 0;
}
.main-panel .menu a {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-3);
  display: block;
  margin-bottom: 10px;
}

.main-panel .principal {
  padding: 15px;
}

.main-panel .actualizar {
  display: flex;
  gap: 15px;
}
.principal {
  overflow-y: scroll;
}

/* panel-datos */
.main-panel .usuario {
  display: flex;
}
.main-panel .usuario div {
  padding-left: 15px;
}
.main-panel .usuario img{
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 50%;
}
.main-panel .usuario p {
  margin-bottom: 10px;
  font-size: 18px;
}
.main-panel .usuario span {
  font-weight: bold;
}


/* panel imagen */
#sucursal-foto {
  width: 350px;
}
#auto-info {
  margin-top: 25px;
}
#auto-info img {
  display: block;
  width: 350px;
}


.autos-vista img {
  width: 350px;
}

.footer {
  width: 100%;
  height: 107px;
  background-color: var(--color-2);
  color: var(--color-3);
  padding: 25px;
}
.footer > div {
  max-width: 1400px;
  margin: 0 auto;
}